:root {
    --modal-background: #FFFFFF;
    --main-background: #1F1F1F;
    --modal-background: #262626;
    --border-color: #ccc;
    --main-color: #ddd;

    --blue: #296dd3;
    --white: #FAFAFA;
    --hover-blue: #5699FF;
    --red: #c32c2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    height: 100vh;
    display: grid;
    overflow: hidden;
    background-color: var(--main-background);
    color: var(--main-color);
    font-family: 'Nunito', sans-serif;
}

#root {
    height: 100%;
    display: grid;
}

.dashed-border {
    border: 2px dashed var(--border-color);
    border-radius: 16px;
}

.spacing-16 {
    padding: 16px;
}

.fill-width {
    width: 100%;
}

.margin-vertical-16 {
    margin: 16px 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-around {
    justify-content: space-around;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center {
    @extend .flex-column;
    justify-content: center;
    align-items: center;
}

.main {
    @extend .dashed-border;
    @extend .spacing-16;

    @extend .flex-column;
    align-items: center;
    margin: 16px;

    #result {
        width: 100%;

        >div {
            @extend .fill-width;
            @extend .flex-row;

            justify-content: center;
            gap: 20px;
        }
    }

    >svg {
        max-width: 40%;
    }

    label {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
    }
}

label {
    user-select: none;
}

select {
    background-color: var(--main-background);
    color: var(--main-color);
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid var(--main-color);
}

.line-title {
    color: var(--main-color);
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr max-content 1fr;
    gap: 10px;
    font-weight: bold;
    user-select: none;

    .spacer {
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--main-color);
    }
}

button {
    @extend .flex-center;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    padding: 4px 12px;
    width: max-content;
    font-family: 'Nunito', sans-serif;
    user-select: none;
    justify-self: center;

    &.stroke {
        background-color: var(--main-background);
        color: var(--main-color);
        border: 1px solid;

        &:hover:not(.cancel) {
            box-shadow: inset 0 0 0 1px var(--main-color);
        }
    }
}